@font-face {
  font-family: 'arial narrow';
  src: url('../fonts/arialn.ttf')  format('truetype');
  }

@font-face {
  font-family: 'arial bold';
  src: url('../fonts/arialnb.ttf')  format('truetype');
  }
  
@font-face {
  font-family: 'arial bold italic';
  src: url('../fonts/arialnbi.ttf')  format('truetype');
}

html { 
  background-color:#00a195;
  background: url('../images/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 height: 100%;
}

body {
    font-family:'arial narrow', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:  #fff;
    margin:0px;
 }

a { 
color:white;
text-decoration: none;}

.content{
position: relative;
float: right;
margin: 1.5em 2em 0 0;
width: 60%;
max-width: 800px;
}

.team{
width: 100%;
/*background-color: #d9d9d9;
color: #212121;
*/
background-color: rgba(0,0,0,.4);
border-top: 2px solid #fff;
border-bottom: 2px solid #fff;
padding: 10px 0px;
}

.team h3{
font-size: 2em;
margin: 10px 0 0 5px;
line-height: .3em;
text-shadow: 0px 0px 1px #1e2527, -1px -1px #1e2527, 1px 1px #1e2527;
}

.team h1{
font-family:'arial bold', Arial, Helvetica, sans-serif;
font-size: 3.7em;
margin: 15px 0 0 5px;
line-height: 1em;
text-shadow: 0px 0px 2px #000, -1px -1px #000, 1px 1px #000;
}

.category{
width: 100%;
font-family:'arial bold italic', Arial, Helvetica, sans-serif;
background-color: rgba(4,94,140,.8); /*#045e8c*/
border-bottom: 2px solid #fff;
padding: 5px 0px;
color: #fff;
}

.category h4{
margin: 0px 0 0 5px;
font-size: 1.4em;
text-shadow: 0px 0px 1px #1e2527, -1px -1px #1e2527, 1px 1px #1e2527;
}



.workshop{
width: 100%;
float: left;
position: relative;
margin: 1em 0;
/*background-color: rgba(0,0,0,.6);*/
background-color: rgba(229, 234, 235, .95);
border: 1px solid #aabcc2;
}

.workshop h4{
font-family:'arial bold italic', Arial, Helvetica, sans-serif;
font-size: 1.8em;
color: #47585E;
padding: 5px 10px 5px 10px;
margin: 0 0;
text-shadow: 0px 0px 1px #fff, -1px -1px #fff, 1px 1px #fff;
}

.workshop p{
clear: both;
font-size: 1.1em;
margin: 0 0;
padding: 10px 10px 20px 10px;
color: #47585E;
}

.workshop h3{
clear: both;
font-size: 1.1em;
margin: 0 0 0 0;
padding: 5px 10px 5px 10px;
color: #47585E;
}

.registration {
float: right;
margin-right:60%;
padding-left:2em;
color: #47585E;

}

.registration:hover {
 font-style: italic;
 color: #000;
}

.digitalDemoLinks{
padding: 0;
font-weight: 800;
}

.linker_l{
position: relative;
width: 49.9%;
float: left;
background-color: rgba(4,94,140,.8);
text-align: center;
margin-top:2px;
font-size: 1.1em;
padding: 3px 0px;
}
.linker_r{
position: relative;
width: 49.9%;
float: right;
font-size: 1.1em;
background-color: rgba(4,94,140,.8);
text-align: center;
margin-top:2px;
padding: 3px 0px;
}

.linker_l:hover{
color: #f7c330;
}

.linker_r:hover{
color: #f7c330;
}

/**/
@media  (max-width: 720px) {
body {
    font-family:'arial narrow', Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.content{
margin: 1.5em .1em 0 .1em;
width: 100%;
}

.team h1 {
    font-family: 'arial bold', Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.team h3 {
    font-size: 1.6em;
}


}

